/* You can add global styles to this file, and also import other style files */
*{
    box-sizing:border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 20px;
    background-image: linear-gradient(to right, #f857a6, #ff5858);
}

button {
    padding: 10px 20px;
    border: #f857a6 1px solid;
    border-radius:10px;
    background-color: white;
    cursor: pointer;
}

.hide {
    display: none;
}

input {
    width: 100%;
    padding: 10px;
    border: solid 1px #eee;
    font-weight: bolder;
    color: rgb(150, 150, 150);
    margin: 10px 0px 20px 0px;
}

.allItems {
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 14px 20px;
}

h1 {
  margin: auto;
  font-weight: 300;
}

.add {
    width: 100%;
    background-color: #ff1493;
    border: none;
    color: white;
}

/* ng generate pipe */
